.env
ticket-helper.db

tmp

data_source/black_tickets_content.json
data_source/authorized_emails.json
data_source/tickets.json

# dados pra treinamento, são muito grande
ai/data/inputs/*
ai/data/outputs/*
ai/get_data/data/*

# ia treinada, mais de giga cada pasta
ai/output*

# milvus db docker volume
volumes/*