.env

tmp

data_source/black_tickets_content.json

# dados pra treinamento, são muito grande
ai/data/inputs/*
ai/data/outputs/*
ai/get_data/data/*

# ia treinada, mais de giga cada pasta
ai/output*

# milvus db docker volume
volumes/*