{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Ticket</title>
    <script src="https://unpkg.com/htmx.org@2.0.4"
        integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/web/static/css/index.css">
</head>

<body>
    <h1>Pesquisar pelo ticket</h1>
    <div class="search-container">
        <select id="search-type" name="search-type">
            <option value="entire">Completo</option>
            <option value="message">Mensagem</option>
        </select>
        <input type="text" id="search-input" name="search-input" placeholder="Digite aqui sua pesquisa.">
        <button hx-post="/tickets/search" hx-trigger="click" hx-target="#results"
            hx-include="[id='search-type'],[id='search-input']">
            Pesquisar
        </button>
    </div>
    <ul id="results">
        <li>
            <span class="result-number">#94989</span>
            <a href="https://example.com/web/search-query/94989" class="result-url"
                target="_blank">https://example.com/web/search-query/94989</a>
            <span class="result-score">0.8955</span>
        </li>
        {{ template "results" .}}
    </ul>

    <script>
        htmx.on("htmx:configRequest", (event) => {
            event.detail.headers['Content-Type'] = 'application/x-www-form-urlencoded';
        });

        htmx.onLoad(function (content) {
            document.body.addEventListener("htmx:afterRequest", function (evt) {
                if (evt.detail.elt.id === "results") {
                    evt.detail.elt.innerHTML = '<li>No results found. This is a static example.</li>';
                }
            });
        });

    </script>
</body>

</html>
{{ end }}

{{ block "results" .}}
{{ range . }}
{{ template "result" .}}
{{ end }}
{{ end }}

{{ block "result" . }}
<li>
    <a href="https://suporte.setrem.com.br/scp/tickets.php?id={{ .TicketId }}" class="result-url"
        target="_blank">https://suporte.setrem.com.br/scp/tickets.php?id={{ .TicketId }}</a>
    <span class="result-score">{{ .Score }}</span>
</li>
{{ end }}