{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Ticket</title>
    <script src="https://unpkg.com/htmx.org@2.0.4"
        integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/web/static/css/index.css">
</head>

<body>
    <div class="search">
        <h1>Pesquisar pelo ticket</h1>
        <div class="search-container">
            <div class="input-container">
                <textarea id="search-input" name="search-input" placeholder=""></textarea>
                <label for="search-input">Descrição do ticket</label>
            </div>

            <div class="button-group">
                <select id="search-type" name="search-type">
                    <option value="message">Única Mensagem</option>
                    <option value="chunk">Chuk</option>
                    <option value="entire">Conteúdo Ticket</option>
                    <option value="reply">Sugerir Resposta</option>
                </select>
                <button id="button-pesquisar" class="button-pesquisar" hx-post="/tickets/search" hx-trigger="click"
                    hx-target="#results" hx-indicator="[id='loading'],[id='button-pesquisar']"
                    hx-include="[id='search-type'],[id='search-input']">
                    Pesquisar
                </button>
            </div>
        </div>
    </div>

    <div class="results">
        <div id="loading" class="htmx-indicator">
            <div class="loading-spinner">
                <img src="/web/static/images/infinite-spinner.svg" alt="loading">
            </div>
        </div>
        <ul id="results">
            {{ template "results" .}}
        </ul>
    </div>

    <!-- <div class="gato-flutuando">
        <div class="gato">
            <div class="head"></div>
            <div class="ear"></div>
            <div class="eyes">
                <div class="eye"></div>
                <div class="eye"></div>
            </div>
            <div class="nose"></div>
            <div class="mouth"></div>
            <div class="body"></div>
            <div class="tail"></div>
            <div class="bubble"></div>
        </div>

        <div class="nuvem">
            <div class="atras1"></div>
            <div class="atras2"></div>
            <div class="atras3"></div>
            <div class="atras-encima-rabo"></div>
            <div class="meio"></div>

            <div class="frente1"></div>
            <div class="frente2"></div>
            <div class="frente3"></div>
            <div class="frente4"></div>
        </div>
    </div>

    <div class="estrelas">
        <div class="stars"></div>
    </div> -->

</body>

</html>
{{ end }}

{{ block "results" .}}
{{ range . }}
{{ template "result" .}}
{{ end }}
{{ end }}

{{ block "result" . }}
<li>
    <a href="https://suporte.setrem.com.br/scp/tickets.php?id={{ .TicketId }}" class="result-url"
        target="_blank">https://suporte.setrem.com.br/scp/tickets.php?id={{ .TicketId }}</a>
    <span class="result-score">{{ .Score }}</span>
</li>
{{ end }}

{{ block "suggeted-reply" . }}
<div class="search">
    <div class="search-container">
        <textarea placeholder="">{{ .Reply }}</textarea>
    </div>
</div>
{{ end }}