{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Ticket</title>
    <script src="https://unpkg.com/htmx.org@2.0.4"
        integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/web/static/css/index.css">
</head>

<body>
    <h1>Pesquisar pelo ticket</h1>
    <div class="search-container">
        <label for="search-input">Descrição do ticket:</label>
        <textarea id="search-input" name="search-input" placeholder="..."></textarea>
        <div class="button-group">
            <select id="search-type" name="search-type">
                <option value="entire">Conteúdo Ticket</option>
                <option value="message">Única Mensagem</option>
            </select>
            <button hx-post="/tickets/search" hx-trigger="click" hx-target="#results"
                hx-include="[id='search-type'],[id='search-input']">
                Pesquisar
            </button>
        </div>
    </div>
    <ul id="results">
        {{ template "results" .}}
    </ul>
</body>

<div class="container">
    <div class="stars"></div>
    <div class="stars2"></div>
</div>

</html>
{{ end }}

{{ block "results" .}}
{{ range . }}
{{ template "result" .}}
{{ end }}
{{ end }}

{{ block "result" . }}
<li>
    <a href="https://suporte.setrem.com.br/scp/tickets.php?id={{ .TicketId }}" class="result-url"
        target="_blank">https://suporte.setrem.com.br/scp/tickets.php?id={{ .TicketId }}</a>
    <span class="result-score">{{ .Score }}</span>
</li>
{{ end }}