body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
  background-image: linear-gradient(
    45deg,
    hwb(241 50% 6%),
    hsl(0, 89%, 75%),
    hwb(241 50% 6%),
    hsl(0, 89%, 75%),
    hwb(241 50% 6%)
  );
  background-size: 200% 200%;
  animation: fundo 60s infinite;
}

@keyframes fundo {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.search {
  font-style: initial;
  font-family: sans-serif;
  z-index: 10;
  width: 60%;
  min-height: 320px;
}

.estrelas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.stars {
  width: 100%;
  height: 150%;
  background-image: radial-gradient(2px 2px at 482px 385px, white, transparent),
    radial-gradient(4px 4px at 210px 306px, white, transparent),
    radial-gradient(2px 2px at 429px 471px, white, transparent),
    radial-gradient(1px 1px at 233px 67px, white, transparent),
    radial-gradient(1px 1px at 102px 221px, white, transparent),
    radial-gradient(3px 3px at 234px 96px, white, transparent),
    radial-gradient(2px 2px at 76px 152px, white, transparent),
    radial-gradient(1px 1px at 391px 139px, white, transparent),
    radial-gradient(2px 2px at 375px 209px, white, transparent),
    radial-gradient(2px 2px at 236px 366px, white, transparent),
    radial-gradient(2px 2px at 356px 446px, white, transparent);
  background-size: 500px 500px;
  animation: stars 20s linear infinite;
}

@keyframes stars {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-500px);
  }
}

.search-container {
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-container {
  position: relative;
}

.input-container label {
  position: absolute;
  padding: 0 5px;
  top: 1rem;
  left: 1.5rem;
  transition: 0.3s;
}

textarea {
  width: 100%;
  min-height: 100px;
  padding: 1rem;
  font-size: 16px;
  border: 1px solid #000000;
  border-radius: 4px;
}

textarea:not(:placeholder-shown) ~ label {
  top: -0.5rem;
  background-color: white;
  border-radius: 5px;
  border-top: 2px solid #000000;
  border-left: 2px solid #000000;
  border-right: 2px solid #000000;
}

.button-group {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
}

button:hover {
  background-color: #0056b3;
}

select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.results {
  min-width: 45%;
  max-width: 92%;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  z-index: 10;
  background-color: #f8f9fa;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 4px;
}

.result-number {
  font-weight: bold;
  color: #6c757d;
}

.result-url {
  color: #007bff;
  text-decoration: none;
}

.result-url:hover {
  text-decoration: underline;
}

.result-score {
  float: right;
  color: #28a745;
}

.gato-flutuando {
  position: fixed;
  bottom: 100px;
  left: 50px;
  height: 100px;
  width: 222px;
  animation: flutuando 50s linear infinite;
  z-index: 50;
}

@media screen and (max-width: 600px) {
  .gato-flutuando {
    position: fixed;
    bottom: 100px;
    left: 50px;
    height: 100px;
    width: 222px;
    animation: flutuando-tele 25s linear infinite;
    z-index: 50;
  }
}

@keyframes flutuando-tele {
  from {
    transform: translateX(200vw);
  }

  to {
    transform: translateX(-400px);
  }
}

@keyframes flutuando {
  from {
    transform: translateX(130vw);
  }

  to {
    transform: translateX(-50vw);
  }
}

.head {
  background-color: #757472;
  height: 65px;
  width: 80px;
  border-radius: 0 80px 80px 0;
  position: absolute;
  bottom: 0;
  right: 0;
}

.ear {
  height: 15px;
  width: 15px;
  background-color: #474747;
  border-radius: 20px 0 0 0;
  box-shadow: 25px 0 #474747;
  position: absolute;

  right: 42px;
  bottom: 63px;
}

.eyes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  gap: 18px;

  bottom: 38px;
  right: 2px;
}

.eye {
  height: 7px;
  width: 10px;
  border: 2px solid #2c2c2c;
  border-radius: 0 0 15px 15px;
  border-top: none;
}

.nose {
  background-color: #ffffff;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  box-shadow: 12px 0 #ffffff;
  position: absolute;

  bottom: 28px;
  right: 26px;
}

.bubble {
  height: 20px;
  width: 20px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50px 50px 50px 5px;
  position: absolute;
  animation: bubble-scale 2s infinite;
  transform-origin: bottom left;

  right: -36px;
  bottom: 56px;
}

@keyframes bubble-scale {
  50% {
    transform: scale(1.6);
  }
}

.body {
  background-color: #7c7c7c;
  height: 90px;
  width: 140px;
  border-radius: 60px 60px 0 0;
  position: absolute;
  animation: sleep 2s infinite;
  transform-origin: bottom right;

  right: 50px;
  bottom: 0;
}

@keyframes sleep {
  50% {
    transform: scale(0.9, 1.05);
  }
}

.tail {
  background-color: #7c7c7c;
  height: 20px;
  width: 100px;
  border-radius: 20px 0 0 20px;
  position: absolute;

  left: 0;
  bottom: 0;
}

@keyframes shadow {
  50% {
    transform: scaleX(0.7);
  }
}

.nuvem {
  position: absolute;
  bottom: 50%;
  left: 50%;
}

.atras1 {
  height: 100px;
  width: 100px;
  background-color: white;
  border-radius: 50px;
  position: absolute;
  bottom: -50px;
  left: -30px;
  animation: bubble-shadow1 4s infinite;
  z-index: -20;
}

@keyframes bubble-shadow1 {
  50% {
    transform: scale(0.9);
  }
}

@keyframes bubble-shadow2 {
  50% {
    transform: scale(0.92);
  }
}

@keyframes bubble-shadow3 {
  50% {
    transform: scale(1.05);
  }
}

@keyframes bubble-shadow4 {
  50% {
    transform: scale(0.95);
  }
}

.atras2 {
  height: 100px;
  width: 100px;
  background-color: white;
  border-radius: 50px;
  position: absolute;
  bottom: -60px;
  left: 10px;
  animation: bubble-shadow1 6s infinite;
  z-index: -20;
}

.atras3 {
  height: 100px;
  width: 100px;
  background-color: white;
  border-radius: 50px;
  position: absolute;
  bottom: -50px;
  left: -70px;
  animation: bubble-shadow3 6s infinite;
  z-index: -20;
}

.atras-encima-rabo {
  height: 80px;
  width: 80px;
  background-color: white;
  border-radius: 50px;
  position: absolute;
  bottom: -45px;
  left: -110px;
  animation: bubble-shadow2 5s infinite;
  z-index: -20;
}

.meio {
  height: 70px;
  width: 260px;
  background-color: white;
  border-radius: 50px;
  position: absolute;
  bottom: -80px;
  left: -135px;
  animation: bubble-shadow4 10s infinite;
  z-index: -20;
}

.frente1 {
  height: 80px;
  width: 80px;
  background-color: white;
  border-radius: 50px;
  position: absolute;
  bottom: -120px;
  left: -120px;
  z-index: 100;
  animation: bubble-shadow1 5s infinite;
}

.frente2 {
  height: 80px;
  width: 80px;
  background-color: white;
  border-radius: 80px;
  position: absolute;
  bottom: -125px;
  left: -70px;
  z-index: 100;
  animation: bubble-shado2 6s infinite;
}

.frente3 {
  height: 80px;
  width: 80px;
  background-color: white;
  border-radius: 50px;
  position: absolute;
  bottom: -125px;
  left: -20px;
  z-index: 100;
  animation: bubble-shadow4 8s infinite;
}

.frente4 {
  height: 80px;
  width: 80px;
  background-color: white;
  border-radius: 50px;
  position: absolute;
  bottom: -120px;
  left: 30px;
  z-index: 100;
  animation: bubble-shadow2 5s infinite;
}

@media screen and (max-width: 600px) {
  .search {
    font-style: initial;
    font-family: sans-serif;
    z-index: 10;
    margin: 0 auto;
    width: 90%;
    height: 400px;
  }
}
