body {
  font-style: initial;
  font-family: sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 0;
  width: 800px;
  height: 200px;
  z-index: 10;
  position: relative;
  background: linear-gradient(
    45deg,
    hwb(241 50% 6%),
    hsl(0, 89%, 75%),
    hwb(241 50% 6%),
    hsl(0, 89%, 75%),
    hwb(241 50% 6%)
  );
  background-size: 800% 800%;
  animation: fundo 100s infinite;
}
html {
  position: relative;
  z-index: 20;
}
@keyframes fundo {
  0% {
    background-position: 0% 50%;
  }
  70% {
    background-position: 100% 50%;
  }
}

@keyframes stars {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-800px);
  }
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 800%;
  height: 800vh;
  overflow: hidden;
  z-index: -1;
}

.stars {
  position: absolute;
  width: 400%;
  height: 400%;
  top: 0;
  left: 0;
  background-image: radial-gradient(1px 1px at 10px 20px, white, transparent),
    radial-gradient(2px 2px at 150px 200px, white, transparent),
    radial-gradient(3px 3px at 300px 400px, white, transparent),
    radial-gradient(1px 1px at 500px 600px, white, transparent),
    radial-gradient(2px 2px at 700px 300px, white, transparent),
    radial-gradient(3px 3px at 900px 100px, white, transparent),
    radial-gradient(1px 1px at 1100px 700px, white, transparent),
    radial-gradient(2px 2px at 150px 800px, white, transparent),
    radial-gradient(3px 3px at 400px 500px, white, transparent),
    radial-gradient(1px 1px at 800px 200px, white, transparent),
    radial-gradient(2px 2px at 600px 300px, white, transparent),
    radial-gradient(3px 3px at 1200px 400px, white, transparent),
    radial-gradient(1px 1px at 1400px 100px, white, transparent),
    radial-gradient(2px 2px at 1600px 500px, white, transparent),
    radial-gradient(3px 3px at 1800px 700px, white, transparent),
    radial-gradient(2px 2px at 1900px 800px, white, transparent),
    radial-gradient(1px 1px at 1750px 300px, white, transparent),
    radial-gradient(2px 2px at 1650px 100px, white, transparent),
    radial-gradient(3px 3px at 1450px 600px, white, transparent),
    radial-gradient(1px 1px at 1550px 700px, white, transparent),
    radial-gradient(2px 2px at 1350px 200px, white, transparent),
    radial-gradient(3px 3px at 1150px 400px, white, transparent),
    radial-gradient(1px 1px at 950px 600px, white, transparent),
    radial-gradient(2px 2px at 750px 800px, white, transparent),
    radial-gradient(3px 3px at 550px 300px, white, transparent),
    radial-gradient(2px 2px at 350px 100px, white, transparent),
    radial-gradient(1px 1px at 250px 400px, white, transparent),
    radial-gradient(2px 2px at 50px 700px, white, transparent),
    radial-gradient(3px 3px at 1250px 800px, white, transparent),
    radial-gradient(1px 1px at 1700px 100px, white, transparent);
  background-repeat: repeat;
  z-index: -1;
  background-size: 1900px 800px; /* Ajuste conforme necessário */
  animation: stars 20s linear infinite;
}

.search-container {
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.search-container label {
  font-weight: bold;
  margin-bottom: 5px;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #000000;
  border-radius: 4px;
}

.button-group {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
}

button:hover {
  background-color: #0056b3;
}

select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  z-index: 10;
  background-color: #f8f9fa;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 4px;
}

.result-number {
  font-weight: bold;
  color: #6c757d;
}

.result-url {
  color: #007bff;
  text-decoration: none;
}

.result-url:hover {
  text-decoration: underline;
}

.result-score {
  float: right;
  color: #28a745;
}
